* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAV BAR */
nav {
    background-color: #000;
    width: 100%;
    height: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding-left: 60px;
    font-size: 13px;
    font-weight: 400;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* SELECT BOX */
#navBar #selectBox {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
}

#selectBox #select {
    border: none;
    appearance: none;
    background-color: #000;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-right: 16px;
    padding: 3px 4px;
    width: 50px;
    position: relative;
}

#selectBox #arrow {
    position: absolute;
    right: 130px;
}

#selectBox #profile-container span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-left: 30px;
}

/* HEADER SECTION  */
#header {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

#header #logo {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#header #logo #logoName {
    height: 32px;
    padding-left: 8px;
}

#header #logo #logoR {
    height: 47px;
}

#header #list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    padding-right: 60px;
}

#header ul {
    display:flex;
    align-items: center;
    padding: 0 30px;
}

#header ul li {
    list-style-type: none;
    padding-left: 30px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}

#header ul li a {
    text-decoration: none;
    color: #000;
}

#header #list #searchBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #C9C5C5;
    width: 260px;
    height: 52px;
}

#header #list #searchBtn button {
    width: 100%;
    height: 100%;
    position: relative;
    border: none;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: end;
    padding-right: 25px;
    cursor: pointer;
}

#header #list #searchBtn i {
    left: 0;
    font-size: 15px;
    padding-left: 23px;
    cursor: pointer;
}

/* LANDING PAGE SECTION */
#landingPage {
    height: 365px;
    width: 100%;
}

#landingPage img {
    height: 100%;
    width: 100%;
}

/* SECTION ONE */
#secOne {
    height: 540px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    margin-top: 5%;
}

#secOne #left-content {
    width: 45%;
    font-size: 16px;
    font-weight: 400;
    color: #484646;
    padding-right: 223px;
}

#secOne #left-content span {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

#secOne #left-content h3 {
    font-size: 32px;
    font-weight: 600;
    color: #777;
    padding-bottom: 20px;
}

#secOne #left-content button {
    border: none;
    background-color: #1c1d21;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 20px;
    text-align: center;
    margin-top: 20px;
}

#secOne #right-content {
    height: 100%;
    width: 55%;
}

#secOne #right-content #rightC {
    height: 100%;
    width: 100%;
}

/* SECTION TWO */
#secTwo {
    height: 540px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    margin-top: 5%;
    background-color: #F2F5F9;
}

#secTwo #right-content {
    width: 45%;
    font-size: 16px;
    font-weight: 400;
    color: #484646;
    padding-left: 105px;
    padding-right: 105px;
}

#secTwo #right-content span {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

#secTwo #right-content h3 {
    font-size: 32px;
    font-weight: 600;
    color: #777;
    padding-bottom: 20px;
}

#secTwo #right-content button {
    border: none;
    background-color: #1c1d21;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 20px;
    text-align: center;
    margin-top: 20px;
}

#secTwo #left-content {
    height: 100%;
    width: 55%;
}

#secTwo #left-content #leftC {
    height: 100%;
    width: 100%;
}

/* SECTION THREE */
#secThree {
    height: 450px;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#secThree #image2 {
    height: 100%;
    width: 100%;
}

#secThree #secThree-content {
    position: absolute;
    height: 281px;
    width: 335px;
    background-color: rgba(0, 0, 0, 0.30);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: right;
    margin-right: 5%;
    padding: 66px 35px 12px 55px;
    text-align: right;
}

#secThree #secThree-content p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 25px;
}

#secThree #secThree-content button {
    border: none;
    background-color: #1c1d21;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 20px;
    text-align: center;
    margin-top: 20px;
    margin-right: -106px;
}

/* SECTION FOUR  */
#secFour {
    height: 548px;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #f2f5f9;
    text-align: center;
    /* padding: 150px; */
    /* position: absolute; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 200px));
    grid-gap: 10px; */
}

#secFour #slideBar {
    margin-top: 15px;
}

#secFour button {
    border: none;
    background-color: #1c1d21;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 20px;
    text-align: center;
    margin-top: 20px;
}

/* FOOTER */
footer {
    margin-top: 5%;
    height: 378px;
    width: 100%;
    background-color: #000;
}

footer #row {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    /* position: relative; */
}

footer #row ul {
    list-style-type: none;
    margin: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    padding: 56px 40px 20px;
    /* padding-top: 40px; */
}

footer #row ul li a {
    text-decoration: none;
    color: #fff;
}

footer #row ul i {
    font-size: 28px;
    margin-left: 5px;
}

footer #sidepara {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 0% 13%;
}

footer #sidepara p {
    font-size: 14px;
    font-weight: 400;
    text-align:left;
}

#copyright {
    width: 100%;
    height: 53px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 13%;
}